<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="regression">
    <test name="testing">
        <classes>
            <class name="org.Automation.DemoQA.Alertsbuttons"></class>
            <class name="org.Automation.DemoQA.BrowseWindows"></class>
            <class name="org.Automation.DemoQA.Frames"></class>
            <class name="org.Automation.DemoQA.ModalDialogs"></class>
            <class name="org.Automation.DemoQA.Frames"></class>
            <class name="org.Automation.DemoQA.BookStore"></class>
            <class name="org.Automation.DemoQA.BookStoreAPI"></class>
            <class name="org.Automation.DemoQA.Login"></class>
            <class name="org.Automation.DemoQA.Profile"></class>
            <class name="org.Automation.DemoQA.BrokenLinksImage"></class>
            <class name="org.Automation.DemoQA.Buttons"></class>
            <class name="org.Automation.DemoQA.CheckBox"></class>
            <class name="org.Automation.DemoQA.DymanicProperties"></class>
            <class name="org.Automation.DemoQA.PracticeForms"></class>
            <class name="org.Automation.DemoQA.Dragabble"></class>
            <class name="org.Automation.DemoQA.Droppable"></class>
            <class name="org.Automation.DemoQA.Resizable"></class>
            <class name="org.Automation.DemoQA.Selectable"></class>
            <class name="org.Automation.DemoQA.Sortable"></class>
            <class name="org.Automation.DemoQA.Links"></class>
            <class name="org.Automation.DemoQA.RadioButton"></class>
            <class name="org.Automation.DemoQA.TextBox"></class>
            <class name="org.Automation.DemoQA.UploadAndDownload"></class>
            <class name="org.Automation.DemoQA.WebTables"></class>
            <class name="org.Automation.DemoQA.Accordian"></class>
            <class name="org.Automation.DemoQA.AutoComplete"></class>
            <class name="org.Automation.DemoQA.DataPicker"></class>
            <class name="org.Automation.DemoQA.Menu"></class>
            <class name="org.Automation.DemoQA.ProgressBar"></class>
            <class name="org.Automation.DemoQA.SelectMenu"></class>
            <class name="org.Automation.DemoQA.Slider"></class>
            <class name="org.Automation.DemoQA.Tabs"></class>
            <class name="org.Automation.DemoQA.ToolTips"></class>
            <class name="org.Automation.Herokuapp.Alertsbtns"></class>
            <class name="org.Automation.Herokuapp.FakeAlerts"></class>
            <class name="org.Automation.Herokuapp.Attributes"></class>
            <class name="org.Automation.Herokuapp.BasicWebPage"></class>
            <class name="org.Automation.Herokuapp.ClickAutoGrowButton"></class>
            <class name="org.Automation.Herokuapp.HardToSelectButtons"></class>
            <class name="org.Automation.Herokuapp.CookiesControllingPageAccess"></class>
            <class name="org.Automation.Herokuapp.CSSMediaQuery"></class>
            <class name="org.Automation.Herokuapp.HoverPage"></class>
            <class name="org.Automation.Herokuapp.FileDownloads"></class>
            <class name="org.Automation.Herokuapp.FileUpload"></class>
            <class name="org.Automation.Herokuapp.JavaScriptInitiatedFileDownloads"></class>
            <class name="org.Automation.Herokuapp.BasicHtmlForms"></class>
            <class name="org.Automation.Herokuapp.Html5FormElements"></class>
            <class name="org.Automation.Herokuapp.WindowsLinkPage"></class>
            <class name="org.Automation.Herokuapp.FramesTestPage"></class>
            <class name="org.Automation.Herokuapp.iFramesTestPage"></class>
            <class name="org.Automation.Herokuapp.BasicJavaScript"></class>
            <class name="org.Automation.Herokuapp.DragAndDropEx"></class>
            <class name="org.Automation.Herokuapp.Events"></class>
            <class name="org.Automation.Herokuapp.FieldValidation"></class>
            <class name="org.Automation.Herokuapp.KeyClick"></class>
            <class name="org.Automation.Herokuapp.RedirectPage"></class>
            <class name="org.Automation.Herokuapp.RefreshPage"></class>
            <class name="org.Automation.Herokuapp.ButtonBasedCalculator"></class>
            <class name="org.Automation.Herokuapp.Calculator"></class>
            <class name="org.Automation.Herokuapp.CanvasDrawing"></class>
            <class name="org.Automation.Herokuapp.CanvasScribbleTestPage"></class>
            <class name="org.Automation.Herokuapp.ClientServerFormInputValidation"></class>
            <class name="org.Automation.Herokuapp.JavaScriptCountdown"></class>
            <class name="org.Automation.Herokuapp.Search"></class>
            <class name="org.Automation.Herokuapp.SimpleNoteTaker"></class>
            <class name="org.Automation.Herokuapp.Triangle"></class>
            <class name="org.Automation.Herokuapp.Playground"></class>
            <class name="org.Automation.Herokuapp.DynamicButtonsChallenge1"></class>
            <class name="org.Automation.Herokuapp.DynamicButtonsChallenge2"></class>
            <class name="org.Automation.Herokuapp.ExpandingDivViaCSS"></class>
            <class name="org.Automation.Herokuapp.MultipleProgressBar"></class>
            <class name="org.Automation.Herokuapp.XHTTPMessageProcessing"></class>
            <class name="org.Automation.Herokuapp.UserArgentRedirectPage"></class>
        </classes>
    </test>
</suite>